openapi: 3.0.0
servers:
  - description: SS12000
    url: http://some.server.se/v2.0
info:
  description: |
    This is an implementation specification of SS12000 v2
    [TK450](https://www.sis.se/standardutveckling/tksidor/tk400499/sistk450/)
  version: 1.0.0
  title: SS12000
  termsOfService: "https://www.sis.se/standardutveckling/tksidor/tk400499/sistk450/"
  contact:
    email: tk450@sis.se
tags:
  - name: Organisation
    description: Skolans organisation och grundläggande administration.
  - name: Person
    description: Hanterar personer och personers relationer.
  - name: Grupper
    description: Grupper.
  - name: Kurser
    description: Information om kurser, ämnen, program och studieplaner.
  - name: Aktiviteter
    description: Aktiviteter knyter ihop lärare och elever med ämne eller kurs.
  - name: Kalenderhändelser
    description: Kalenderposter kopplat till aktiviteter
  - name: Närvaro
    description: Information runt en elevs närvaro.
  - name: Barnomsorgsschema
    description: Schema som registrerats för barnets omsorgstider på förskola eller fritidshem
  - name: Närvarohändelser
    description: In- och utpassering. Används för närvarohantering i förskola och fritidshem (utan kopplingar till kalenderhändelser).
  - name: Rum och resurser
    description: Salar och resurser som kan schemaläggas.
  - name: Verktyg
    description: Metoder för att hantera metadata.
  - name: Prenumeration
    description: Webhook för att prenumerera på uppdateringar.
paths:
  /organisations:
    $ref: paths/organisations.yaml#/organisations
  /organisations/{id}:
    $ref: paths/organisations.yaml#/organisation_by_id
  /schoolUnits:
    $ref: paths/schoolUnits.yaml#/schoolUnits
  /schoolUnits/{id}:
    $ref: paths/schoolUnits.yaml#/schoolUnit_by_id
  /persons:
    $ref: paths/persons.yaml#/persons
  /persons/{id}:
    $ref: paths/persons.yaml#/persons_by_id
  /duties:
    $ref: paths/duties.yaml#/duties
  /duties/{id}:
    $ref: paths/duties.yaml#/duty_by_id
  /studentGroups:
    $ref: paths/studentGroups.yaml#/studentGroups
  /studentGroups/{id}:
    $ref: paths/studentGroups.yaml#/studentGroups_by_id
  /programmes:
    $ref: paths/programmes.yaml#/programmes
  /programmes/{id}:
    $ref: paths/programmes.yaml#/programme_by_id
  /syllabuses:
    $ref: paths/syllabuses.yaml#/syllabuses
  /syllabuses/{id}:
    $ref: paths/syllabuses.yaml#/syllabus_by_id
  /schoolUnitOfferings:
    $ref: paths/schoolUnitOfferings.yaml#/schoolUnitOfferings
  /schoolUnitOfferings/{id}:
    $ref: paths/SchoolUnitOfferings.yaml#/schoolUnitOffering_by_id
  /activities:
    $ref: paths/activities.yaml#/activities
  /activities/filter:
    $ref: paths/activities.yaml#/activitiesFilter
  /activities/{id}:
    $ref: paths/activities.yaml#/activityById
  /calendarEvents:
    $ref: paths/calendarEvents.yaml#/calendarEvents
  /calendarEvents/{id}:
    $ref: paths/calendarEvents.yaml#/calendarEventById
  /attendances:
    $ref: paths/attendances.yaml#/attendances
  /attendances/{id}:
    $ref: paths/attendances.yaml#/attendance_by_id
  /attendanceEvents:
    $ref: paths/attendanceEvents.yaml#/attendance_events
  /attendanceEvents/{id}:
    $ref: paths/attendanceEvents.yaml#/attendance_events_by_id
  /childCareSchedule:
    $ref: paths/childCareSchedule.yaml#/childcare_schedule
  /grades:
    $ref: paths/grades.yaml#/grades
  /grades/{id}:
    $ref: paths/grades.yaml#/grade_by_id
  /leaveofabsences:
    $ref: paths/leaveofabsences.yaml#/leaveofabsences
  /leaveofabsences/filter:
    $ref: paths/leaveofabsences.yaml#/leaveOfAbsenceFilter
  /leaveofabsences/{id}:
    $ref: paths/leaveofabsences.yaml#/leaveofabsence_by_id
  /aggregatedAttendance:
    $ref: paths/aggregatedAttendances.yaml
  /resources:
    $ref: paths/resources.yaml#/resources
  /resources/{id}:
    $ref: paths/resources.yaml#/resource_by_id
  /rooms:
    $ref: paths/rooms.yaml#/rooms
  /rooms/{id}:
    $ref: paths/rooms.yaml#/room_by_id
  /subscriptions:
    $ref: paths/subscriptions.yaml#/subscriptions
  /subscriptions/{id}:
    $ref: paths/subscriptions.yaml#/subscription_by_id
  /deletedEntities:
    $ref: paths/deletedEntities.yaml

externalDocs:
  description: För mer information hämtas från SIS - TK450
  url: "https://sis.se/standardutveckling/tksidor/tk400499/sistk450/"
components:
  schemas:
    Organisation:
      $ref: "Organisation.yaml#/Organisation"
    SchoolUnit:
      $ref: "SchoolUnit.yaml#/SchoolUnit"
    Person:
      $ref: "Person.yaml#/Person"
    Duty:
      $ref: "Duty.yaml#/Duty"
    StudentGroup:
      $ref: "StudentGroup.yaml#/StudentGroup"
    Programme:
      $ref: "Programme.yaml#/Programme"
    Syllabus:
      $ref: "Syllabus.yaml#/Syllabus"
    SchoolUnitOffering:
      $ref: "SchoolUnitOffering.yaml#/SchoolUnitOffering"
    StudyPlan:
      $ref: "StudyPlan.yaml#/StudyPlan"
    Activity:
      $ref: "Activity.yaml#/Activity"
    CalendarEvent:
      $ref: "CalendarEvent.yaml#/CalendarEvent"
    Attendance:
      $ref: "Attendance.yaml#/Attendance"
    AttendanceEvent:
      $ref: "AttendanceEvent.yaml#/AttendanceEvent"
    ChildCareSchedule:
      $ref: "ChildCareSchedule.yaml#/ChildCareSchedule"
    LeaveOfAbsence:
      $ref: "LeaveOfAbsence.yaml#/LeaveOfAbsence"
    AggregatedAttendance:
      $ref: "AggregatedAttendance.yaml#/AggregatedAttendance"
    Grade:
      $ref: "Grade.yaml#/Grade"
    Resource:
      $ref: "Resource.yaml#/Resource"
    Room:
      $ref: "Room.yaml#/Room"
    Subscription:
      $ref: "Subscription.yaml#/Subscription"
  parameters:
    FilterParam:
      in: query
      name: filter
      required: false
      schema:
        type: string
      description: >-
        Filters according to
        [RFC7644](https://tools.ietf.org/html/rfc7644#section-3.4.2.2).
