openapi: 3.0.2
servers:
  - description: SS12000
    url: http://some.server.se/v2.0
info:
  description: >
    Detta är en implementationsspecifikation av SS12000:2020
    [TK450](https://www.sis.se/standardutveckling/tksidor/tk400499/sistk450/)
  version: 2.0.0
  title: SS12000
  termsOfService: "https://www.sis.se/standardutveckling/tksidor/tk400499/sistk450/"
  contact:
    email: tk450@sis.se
tags:
  - name: Organisation
    description: Skolans organisation och grundläggande administration.
  - name: Person
    description: Hanterar personer och personers relationer.
  - name: Grupper
    description: Grupper.
  - name: Studieinformation
    description: Information om kurser, ämnen, program och studieplaner.
  - name: Aktiviteter
    description: Aktiviteter knyter ihop lärare och elever med ämne eller kurs.
  - name: Kalenderhändelser
    description: Kalenderposter kopplat till aktiviteter
  - name: Rum och resurser
    description: Salar och resurser som kan schemaläggas.
  - name: Närvaro
    description: Information runt en elevs närvaro.
  - name: Vistelseschema
    description: Schema för omsorgstider på förskola eller fritidshem.
  - name: Närvarohändelser
    description: >
      In- och utpassering. Används för närvarohantering i förskola och fritidshem
      (utan kopplingar till kalenderhändelser).
  - name: Borttag
    description: Metod för att följa borttag av entititer.
  - name: Prenumeration
    description: Webhook för att prenumerera på uppdateringar.
paths:
  /organisations:
    $ref: paths/organisations.yaml#/organisations
  /organisations/lookup:
    $ref: paths/organisations.yaml#/organisationsLookup
  /organisations/{id}:
    $ref: paths/organisations.yaml#/organisationById
  /persons:
    $ref: paths/persons.yaml#/persons
  /persons/lookup:
    $ref: paths/persons.yaml#/personsLookup
  /persons/{id}:
    $ref: paths/persons.yaml#/personsById
  /placements:
    $ref: paths/placements.yaml#/placements
  /placements/lookup:
    $ref: paths/placements.yaml#/placementsLookup
  /placements/{id}:
    $ref: paths/placements.yaml#/placementsById
  /duties:
    $ref: paths/duties.yaml#/duties
  /duties/lookup:
    $ref: paths/duties.yaml#/dutiesLookup
  /duties/{id}:
    $ref: paths/duties.yaml#/duty_by_id
  /groups:
    $ref: paths/groups.yaml#/groups
  /groups/lookup:
    $ref: paths/groups.yaml#/groupsLookup
  /groups/{id}:
    $ref: paths/groups.yaml#/groupsById
  /programmes:
    $ref: paths/programmes.yaml#/programmes
  /programmes/lookup:
    $ref: paths/programmes.yaml#/programmesLookup
  /programmes/{id}:
    $ref: paths/programmes.yaml#/programmeById
  /studyplans:
    $ref: paths/studyPlans.yaml#/studyPlans
  /studyplans/{id}:
    $ref: paths/studyPlans.yaml#/studyPlanById
  /syllabuses:
    $ref: paths/syllabuses.yaml#/syllabuses
  /syllabuses/lookup:
    $ref: paths/syllabuses.yaml#/syllabusesLookup
  /syllabuses/{id}:
    $ref: paths/syllabuses.yaml#/syllabusById
  /schoolUnitOfferings:
    $ref: paths/schoolUnitOfferings.yaml#/schoolUnitOfferings
  /schoolUnitOfferings/lookup:
    $ref: paths/schoolUnitOfferings.yaml#/schoolUnitOfferingsLookup
  /schoolUnitOfferings/{id}:
    $ref: paths/schoolUnitOfferings.yaml#/schoolUnitOfferingById
  /activities:
    $ref: paths/activities.yaml#/activities
  /activities/lookup:
    $ref: paths/activities.yaml#/activitiesLookup
  /activities/{id}:
    $ref: paths/activities.yaml#/activityById
  /calendarEvents:
    $ref: paths/calendarEvents.yaml#/calendarEvents
  /calendarEvents/{id}:
    $ref: paths/calendarEvents.yaml#/calendarEventById
  /attendances:
    $ref: paths/attendances.yaml#/attendances
  /attendances/lookup:
    $ref: paths/attendances.yaml#/attendancesLookup
  /attendances/{id}:
    $ref: paths/attendances.yaml#/attendanceById
  /attendanceEvents:
    $ref: paths/attendanceEvents.yaml#/attendance_events
  /attendanceEvents/{id}:
    $ref: paths/attendanceEvents.yaml#/attendance_events_by_id
  /attendanceSchedule:
    $ref: paths/attendanceSchedules.yaml#/attendanceSchedules
  /attendanceSchedule/{id}:
    $ref: paths/attendanceSchedules.yaml#/attendanceSchedulesById
  /attendanceSchedule/lookup:
    $ref: paths/attendanceSchedules.yaml#/attendanceSchedulesLookup
  /grades:
    $ref: paths/grades.yaml#/grades
  /grades/lookup:
    $ref: paths/grades.yaml#/gradesLookup
  /grades/{id}:
    $ref: paths/grades.yaml#/gradeById
  /absences:
    $ref: paths/absences.yaml#/absences
  /absences/lookup:
    $ref: paths/absences.yaml#/AbsenceLookup
  /absences/{id}:
    $ref: paths/absences.yaml#/absence_by_id
  /aggregatedAttendance:
    $ref: paths/aggregatedAttendances.yaml
  /resources:
    $ref: paths/resources.yaml#/resources
  /resources/lookup:
    $ref: paths/resources.yaml#/resourcesLookup
  /resources/{id}:
    $ref: paths/resources.yaml#/resourceById
  /rooms:
    $ref: paths/rooms.yaml#/rooms
  /rooms/lookup:
    $ref: paths/rooms.yaml#/roomsLookup
  /rooms/{id}:
    $ref: paths/rooms.yaml#/roomById
  /subscriptions:
    $ref: paths/subscriptions.yaml#/subscriptions
  /subscriptions/{id}:
    $ref: paths/subscriptions.yaml#/subscription_by_id
  /deletedEntities:
    $ref: paths/deletedEntities.yaml#/deletedEntities
externalDocs:
  description: För mer information hämtas från SIS - TK450
  url: "https://sis.se/standardutveckling/tksidor/tk400499/sistk450/"
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Organisation:
      $ref: "Organisation.yaml#/Organisation"
    Person:
      $ref: "Person.yaml#/Person"
    Duty:
      $ref: "Duty.yaml#/Duty"
    Placement:
      $ref: "Placement.yaml#/Placement"
    Group:
      $ref: "Group.yaml#/Group"
    Programme:
      $ref: "Programme.yaml#/Programme"
    Syllabus:
      $ref: "Syllabus.yaml#/Syllabus"
    SchoolUnitOffering:
      $ref: "SchoolUnitOffering.yaml#/SchoolUnitOffering"
    StudyPlan:
      $ref: "StudyPlan.yaml#/StudyPlan"
    Activity:
      $ref: "Activity.yaml#/Activity"
    CalendarEvent:
      $ref: "CalendarEvent.yaml#/CalendarEvent"
    Attendance:
      $ref: "Attendance.yaml#/Attendance"
    AttendanceEvent:
      $ref: "AttendanceEvent.yaml#/AttendanceEvent"
    AttendanceSchedule:
      $ref: "AttendanceSchedule.yaml#/AttendanceSchedule"
    Absence:
      $ref: "Absence.yaml#/Absence"
    AggregatedAttendance:
      $ref: "AggregatedAttendance.yaml#/AggregatedAttendance"
    Grade:
      $ref: "Grade.yaml#/Grade"
    Resource:
      $ref: "Resource.yaml#/Resource"
    Room:
      $ref: "Room.yaml#/Room"
    Subscription:
      $ref: "Subscription.yaml#/Subscription"
    Error:
      type: object
      properties:
        code:
          description: Teknisk kod för att beskriva fel, varje källa bestämmer skjälv över möjliga felkoder. 
          type: string
        message:
          description: Text för att beskriva felet.
          type: string
      required:
        - code
        - message
  responses:
    204_removed:
      description: "Post borttagen."
    400_invalid_filter:
      description: "Filter (ex `sortkey`, `meta.modified.after`, `meta.modified.before`, `meta.created.after`, `meta.created.before` etc.) kan inte kombineras med `pageToken`."
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    400_invalid_id:
      description: "Felaktigt id."
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    403_not_authorised:
      description: "Åtkomst nekad."
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    404_not_found:
      description: "Posten hittades inte."
    503_overload:
      description: "Svaret är förstort för servern att hantera."
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    default_error:
      description: "Okänt fel."
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
security:
  - BearerAuth: []
